.card
    width: 300px
    height: 420px
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 6px
    background-color: #F4F9FF
    &__header
        padding-top: 10px
        padding-bottom: 50px
        text-decoration: none
        &-link
            font-family: 'Raleway', sans-serif
            font-size: 22px
            text-align: center
            color: #5f5f5f
    &__icon
        padding-bottom: 30px
        font-size: 100px
        color: #488CE1
    &__temp
        padding-bottom: 10px
        font-family: 'Raleway', sans-serif
        font-size: 40px
        color: #585A59
    &__summary
        padding-bottom: 20px
        font-family: 'Raleway', sans-serif
        font-size: 18px
        color: #585A59
    &__data
        width: 90%
        padding: 10px
        display: flex
        flex-direction: row
        justify-content: space-between
        font-family: 'Raleway', sans-serif
        border-radius: 8px
        background-color: #ffffff
        &-item
            height: 70px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
        &-number
            font-size: 20px
            color: #7ABFFF
        &-icon
            font-size: 26px
            color: #585A59
        &-text
            font-size: 12px
            color: #585A59
        