.search
    width: 770px
    margin: auto
    margin-bottom: 20px
    &__input
        width: 250px
        height: 30px
        padding-left: 10px
        font-family: 'Raleway', sans-serif
        font-size: 22px
        border: 2px solid #EEEEEE
        border-radius: 4px
    &__button
        width: 100px
        height: 34px
        font-family: 'Raleway', sans-serif
        font-size: 22px
        border: 2px solid #4C4C4C
        border-radius: 4px
        background-color: #EEEEEE
        &:hover
            cursor: pointer
        &_big
            width: 300px